body {
    background-color: #0000ff;
}
h1 {
    color: white;
    font-family: verdana;
    font-size: 150%;
    text-align: center;
}
a:visited {
    color: white;
}
p  {
    color: white;
    font-family: courier;
    font-size: 100%;
}
ul.demo {
    list-style-type: circle;
    margin: 2;
    padding:2 ;
    color: white;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 {
    width: 10%;    
    background-color: white;
}